@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these classes to your index.css */
.light-theme {
  background-color: #ffffff;
  color: #000000;
}

.dark-theme {
  background-color: #121212;
  color: #ffffff;
}


.light-theme,
.dark-theme {
  transition: background-color 0.3s, color 0.3s;
  height: 100vh;
  font-size: 20px;
}
.main-container {
  position: relative;
  height: 100vh;
  padding: 20px;
}
